
/*
    Это автосгенерированный файл. Руками не править
*/
//---------------------------------------------------------------------------
#ifndef __tApc_{{ .CntrName}}_h__
#define __tApc_{{ .CntrName}}_h__
//---------------------------------------------------------------------------
{{ range  .HeaderIncludes -}}
    #include {{.}}
{{end}}

class {{ .CntrName}}
{
    public: {{ range .Public.Fields -}}
        {{if .Default -}}{{ .Type}} {{ .ID }} = {{ .Default}};
        {{else}}
        {{ .Type }} {{ .ID }};{{end}}
        {{end}}
       {{ range .Public.Functions -}}{{$size := len .Parameters}}
       {{ .Type}} {{ .ID }}({{range $index, $value := .Parameters -}}
            {{if eq $index (add $size -1)}}{{if .Default -}}{{ .Type}} {{ .ID }} = {{ .Default}});
            {{else}}{{ .Type }} {{ .ID }}) {{end}}{{else}}{{if .Default -}} {{ .Type}} {{ .ID }} = {{ .Default}},
            {{else}}{{ .Type }} {{ .ID }}, {{end}}{{end}}{{end}}{{if .IdentAfterFunc}}) {{range .IdentAfterFunc -}}{{.}}{{end}};{{end}}{{end}}
    private: {{ range .Private.Fields -}}
        {{if .Default -}}{{ .Type}} {{ .ID }} = {{ .Default}};{{else}}
         {{ .Type }} {{ .ID }};{{end}}
         {{end}}
         {{ range .Private.Functions -}}{{$size := len .Parameters}}
         {{ .Type}} {{ .ID }}({{range $index, $value := .Parameters -}}
         {{if eq $index (add $size -1)}}{{if .Default -}}{{ .Type}} {{ .ID }} = {{ .Default}});
         {{else}}{{ .Type }} {{ .ID }}) {{end}}{{else}}{{if .Default -}} {{ .Type}} {{ .ID }} = {{ .Default}},
         {{else}}{{ .Type }} {{ .ID }}, {{end}}{{end}}{{end}}{{if .IdentAfterFunc}}) {{range .IdentAfterFunc -}}{{.}}{{end}};{{end}}{{end}}
};
//---------------------------------------------------------------------------
#endif
