
/*
    Это автосгенерированный файл. Руками не править
*/
//---------------------------------------------------------------------------
#ifndef __tApc_{{ .CntrName}}_h__
#define __tApc_{{ .CntrName}}_h__
//---------------------------------------------------------------------------
{{ range  .HeaderIncludes -}}
    #include {{.}}
{{end}}

class {{ .CntrName}}
{
   {{ range .Fields -}}
        {{if .Default -}}
           {{ .Type}} {{ .ID }} = {{ .Default}};
        {{else}}{{ .Type }} {{ .ID }};
        {{end}}
   {{ end }}


};
//---------------------------------------------------------------------------
#endif
